language: cpp
compiler:
   - gcc
#   - clang
before_install:
   - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
   - sudo apt-get update -qq
   - sudo apt-get install -qq qt5-qmake qt5-default
script:
   - make run-tests
branches:
   only:
      - experimental
os:
   - linux
